 .profile-img {
      width: 40px;
      height: 40px;
      object-fit: cover;
      border-radius: 50%;
    }
    .back-btn{
      font-size: 26px;
      color: var(--btn-primary);

      &:hover{
        color: var(--btn-primary-hover);
      }
    }

