

:root{
    //backgound colors 
    --bg-primary:linear-gradient(10deg,rgb(105, 166, 190),rgba(89, 173, 207, 1), rgb(18, 130, 204));
    --bg-secoundry:#63a8c3;
    --bg-third:#0364a5;
    --bg-header:#128bd3;
    --sec-bg:#f5f5f5;
    
    // button colors 
    --btn-primary:#0b4fccc7 !important;
    --btn-primary-hover:#002f86da;
    
    // text colors
    --master-text-color:#FFFFFF;
    --secoundery-text-color:#000000;

    --loader-color:#0173a8;

    // task-schdule
    --task-schedule-bg:#63a8c3;
    --filled-cell:#0ca6b1;
    --dead-cell:#464747;
    --danger-cell:#c70014da;
    --avaliable-cell:#198754;



}





