.sidebar {
  width: 250px;
  background-color: #0F3457;
  color: #fff;
  height: 100%;

  .sidebar-header {
    background-color: #ededed; // Slightly darker for header
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);

    .logo {
      max-width: 70%;
      height: auto;
    }
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      a {
        color: #fff; // White text for links
        font-size: 1.3rem;
        text-align: left; // Align text to the left for better structure
        display: flex; // Flex layout for icon and text alignment
        align-items: center; // Center items vertically
        padding: 1rem; // Adjust padding for better spacing
        transition: all 0.3s ease;
        border-radius: 5px;

        &:hover {
          background-color: rgba(0, 0, 0, 0.05);
          color: #fff;
        }

        &.active {
          background-color: #ff0000 !important; // Primary background for active link
          color: #fff; // White text for active link
        }

        i {
          font-size: 1.5rem; // Adjust icon size
          width: 30px; // Fixed width to ensure alignment
          text-align: center; // Center the icon horizontally
          margin-right: 1rem; // Add spacing between icon and text
        }

        small {
          flex-grow: 1; // Ensure the text takes the remaining space
        }
      }
    }
  }
}

.content {
  height: 100vh; // Ensure the sidebar takes the full viewport height
  overflow-y: auto;
}

.text-primary {
  color: #0F3457 !important;
}

.text-warning {
  color: #ff0000 !important;
}

h5[ngbDropdownToggle]:hover {
  cursor: pointer;
}

.phone-sidebar {
  background-color: #0F3457;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out;
}

.sidebar-open {
  transform: translateY(100vh);
  /* Slide down */
}

.sidebar-closed {
  transform: translateY(0);
  /* Hidden */
}

@media screen and (max-width: 767px) {
  .phone-sidebar {
    position: fixed;
    top: 0;
    /* Start hidden above the screen */
    left: 0;
    width: 250px;
    height: 100vh;
    background-color: #0F3457;
  }
}