<app-table [tableData]="tableData" [collectionSize]="pagination.totalCount" [page]="pagination.pageNumber"
    [pageSize]="pagination.pageSize" [tableHeaderTitle]="tableHeaderTitle"
    [removeAddButton]="false" [viewUnsubmittedRequestButton]="false" [tableHeaderButton]="'Project'"
    [tableHeaders]="tableHeaders" [displayColumns]="displayColumns" [viewLog]="false" [isViewOnly]="false"
    [actionItems]="actionItems" [viewUnsubmittedRequestButton]="false" (dropdownToggle)="getActionItems($event)"
    [unsubmittedComponentRouting]="'/pages/assignment-managment/unsubmitted-assignment-requests'"
    (pageChangeEvent)="nextPage($event)" (addButtonEvent)="openModal(content , false , true , false)"
    (openFilterModalEvent)="openFilter(filter , true , false , false)">
</app-table>


<ng-template #content let-offcanvas>
    <div class="offcanvas-header bg-header">
        <h4 class="offcanvas-title text-white">Projects</h4>
        <button type="button" class="btn-close text-white" aria-label="Close"
            (click)="offcanvas.dismiss('Cross click')"></button>
    </div>
    <div class="offcanvas-body bg-primary">
        <div class="container-fluid">
            <form #ProjectsForm="ngForm" AutoFormError (ngSubmit)="submitRequest(ProjectsForm)">

                <div class="col-12">
                    <label class="text-white required-label my-2" for="fromCity">{{'Project Code'}}</label>
                    <input [disabled]="isView" [name]="'title'" [(ngModel)]="Project.projectCode" required
                        class="border text-start text-black p-2 w-100" type="text">
                </div>
                <div class="col-12">
                    <label class="text-white required-label my-2" for="fromCity">{{'Project Name'}}</label>
                    <input [disabled]="isView" [name]="'description'" [(ngModel)]="Project.projectName" required
                        class="border text-start text-black p-2 w-100" type="text">
                </div>

                <div class="col-12">
                    <app-attachment (batchId)="getBatchId($event)" [attachmentType]="attachmentType.Project" [label]="'Project image'" [allowMultiple]="false" [isImageOnly]="true"
                        [hasAttachments]="Project.hasAttachment" [referenceId]="Project.id"></app-attachment>
                </div>

                <div class="col-12 d-flex align-items-center">
                    <input [disabled]="isView" required [name]="'isActive'" [(ngModel)]="Project.isActive"
                        class="form-check-input my-2" type="checkbox">
                    <label class="text-white required-label ms-2" for="isActive">{{ 'isActive' }}</label>
                </div>

                <div class="col-12 d-flex align-items-center">
                    <input type="checkbox" class="form-check-input my-2" name="resourcesType" [(ngModel)]="isPrivate" (ngModelChange)="onCheckboxChange()">
                    <label class="text-white required-label ms-2" for="isActive">{{ 'Private-Resources' }}</label>
                </div>

                @if(!isView){
                <div class="col-12 d-flex justify-content-center mt-3">
                    <button class="btn p-2 w-100 text-white btn-primary btn-primary-hover" type="submit">
                        <span class="form-label">{{'Submit Request'}}</span>
                    </button>
                </div>
                }
            </form>
        </div>
    </div>
</ng-template>

<ng-template #filter let-offcanvas>
    <div class="offcanvas-header bg-header">
        <h4 class="offcanvas-title text-white">Tasks</h4>
        <button type="button" class="btn-close text-white" aria-label="Close"
            (click)="offcanvas.dismiss('Cross click')"></button>
    </div>
    <div class="offcanvas-body bg-primary">
        <div class="container-fluid">
            <form #tasksForm="ngForm" AutoFormError (ngSubmit)="getData() ; offcanvas.dismiss('Cross click')">


                <div class="col-12">
                    <label class="text-white required-label my-2" for="fromCity">{{'Search value'}}</label>
                    <input [disabled]="isView" name="'title'" [(ngModel)]="pagination.SearchValue" required
                        class="border text-start text-black p-2 w-100" type="text">
                </div>

                <div class="col-12 d-flex justify-content-center mt-3">
                    <button class="btn-primary btn-primary-hover btn p-2 w-100 text-white" type="submit">
                        <span class="form-label">{{'filter'}}</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</ng-template>