<!-- Table Header -->
@if (!removeTableHeader) {
<div class="table-header row p-1 m-0 align-items-center" [ngClass]="{'border-radius-none': removeBorderRadius}">
    <!-- Title and Subtitle -->
    <div class="col-6 col-md-7 text-end">
        <h5 class="table-header-title m-0">{{ tableHeaderTitle }}</h5>
        <small class="table-header-subtitle">{{ tableHeaderSubtitle }}</small>
    </div>

    <!-- Actions -->
    <div class="col-8 col-md-5 d-flex justify-content-end gap-2">
        @if (!removeAddButton) {
        <button type="button" class="btn add-button" (click)="openModal()">
            {{ tableHeaderButton }}
        </button>
        }

        @if (!removeFilter) {
        <button type="button" class="btn icon-button" (click)="openFilterModal()">
            <i class="bi bi-funnel"></i>
        </button>
        }
    </div>
</div>
}

<!-- Table Section -->
<div class="table-responsive">
    <table class="table {{tableWidth}}">
        <thead>
            <tr>
                @for (header of tableHeaders; track header) {
                @if(header == 'Actions'){
                <th class="table-header-cell text-center">
                    {{ header }}
                </th>
                }@else if(header == 'Log'){
                <th class="table-header-cell text-center">
                    {{ header }}
                </th>
                }@else{
                <th class="table-header-cell">
                    @if(columnFilters[header]?.isText || columnFilters[header]?.isDropdown ||
                    columnFilters[header]?.isDates || columnFilters[header]?.isTime ){
                    <div class="d-flex justify-content-between align-items-center">

                        <div ngbDropdown>
                            <button class="btn btn-sm p-0 border-0 bg-transparent" ngbDropdownToggle>
                                {{ header }}
                            </button>

                            <!-- Filter Dropdown Content -->
                            <div ngbDropdownMenu class="p-2 shadow-sm custom-column-filter">
                                <!-- Text Filter -->
                                @if (columnFilters[header]?.isText) {
                                <input type="text" class="form-control mb-2" placeholder="Search"
                                    (input)="applyColumnFilter(header, $event)" />
                                }
                                @if (columnFilters[header]?.isText2) {
                                    <label class="text-black required-label me-2" for="fromDate"><small>To</small></label>
                                <input type="text" class="form-control mb-2" placeholder="Search"
                                    (input)="applyColumnFilter(header + '_2', $event)" />
                                }

                                <!-- Dropdown Filter -->
                                @if (columnFilters[header]?.isDropdown) {
                                <ng-select [items]="columnFilters[header]?.options" bindLabel="name" bindValue="value" (change)="applyColumnFilter(header, $event)"
                                    [multiple]="columnFilters[header]?.multiple" placeholder="Select options" class="form-control mb-2">
                                </ng-select>


                                }

                                <!-- Date Range Filter -->
                                @if (columnFilters[header]?.isDates) {
                                <label class="text-black required-label me-2" for="fromDate"><small>From
                                        Date</small></label>
                                <input type="date" class="form-control flex-grow-1 w-100" name="fromDate"
                                    (change)="applyColumnFilter(header + '_from', $event)">

                                <label class="text-black required-label me-2" for="toDate"><small>To
                                        Date</small></label>
                                <input type="date" class="form-control flex-grow-1 w-100" name="toDate"
                                    (change)="applyColumnFilter(header + '_to', $event)">
                                }

                                <!-- Date Range Filter -->
                                @if (columnFilters[header]?.isTime) {
                                <label class="text-black required-label me-2" for="fromDate"><small>Hours
                                        From</small></label>
                                <input name="'hours'" appRestrictNonNumeric
                                    (change)="applyColumnFilter(header + '_hoursFrom', $event)" placeholder="HH"
                                    required class="border text-start text-black p-2 w-100" type="text"
                                    [appMaxValue]="9999">
                                <label class="text-black required-label me-2" for="fromDate"><small>Hours
                                        To</small></label>
                                <input name="'hours'" appRestrictNonNumeric
                                    (change)="applyColumnFilter(header + '_hoursTo', $event)" placeholder="HH" required
                                    class="border text-start text-black p-2 w-100" type="text" [appMaxValue]="9999">
                                }

                                <button type="button" class="btn add-button w-100 mt-2" (click)="activateFilter()">
                                    {{ 'apply' }}
                                </button>

                            </div>
                        </div>
                    </div>
                    }@else {
                    {{ header }}
                    }
                </th>
                }
                }
            </tr>
        </thead>
        <tbody>
            @for (data of tableData; track $index) {
            <tr>
                @for (column of displayColumns(data); track $index) {
                <td class="table-cell">
                    @if (column.isDate) {
                    <div>
                        {{ column.text | date: 'dd/MM/yyyy EEE' }}
                    </div>
                    }
                    @if (column.isImage) {
                    <div>
                        @if (column.text) {
                        <img [src]="column.text" width="20px" height="20px" alt="">
                        }
                    </div>
                    }
                    @if (column.isDateTime) {
                    <div>
                        {{ column.text | date: 'HH:mm' }}
                    </div>
                    }
                    @if (column.isFulllDate) {
                    <div>

                        {{ column.text? (column.text | date: ' dd/MM/yyyy EEE') : '' }}
                    </div>
                    }
                    @if (column.isTime) {
                    <div>
                        {{ column.text | timeFormat}}
                    </div>
                    }
                    @if (column.isText) {
                    <div>
                        {{ column.text }}
                    </div>
                    }
                    @if (column.isStatus) {
                    <div class="my-2">
                        <app-badges [statuses]="column.number"></app-badges>
                    </div>
                    }
                    @if (column.isBoolean) {
                    @if (column.boolean) {
                    <i class="bi text-success bi-check-circle-fill"></i>
                    }@else {
                    <i class="bi text-danger bi-x-circle-fill"></i>
                    }
                    }
                </td>
                }
                @if (!removeActions) {
                <td class="table-cell text-center p-2">
                    @if (isViewOnly) {
                    <button type="button" class="btn action-button" (click)="displayColumns(data)">
                        <i class="bi bi-eye"></i>
                    </button>
                    } @else {
                    <div ngbDropdown class="position-static">
                        <div class="nav-item btn btn-primary position-relative p-2" ngbDropdownToggle
                            (click)="onDropdownToggleClick(data)">
                            View Actions
                        </div>
                        <div ngbDropdownMenu class="bg-green400 border-success position-absolute"
                            aria-labelledby="dropdownBasic1">
                            @if(!actionItems.length) {
                            <div class="col-12 p-2 text-center">
                                <div class="spinner-border fs-3 text-success" role="status">
                                    <span class="sr-only"></span>
                                </div>
                            </div>
                            }
                            @for (actionItem of actionItems; track $index) {
                            @if (actionItem.viewAction) { <!-- Check the viewFlag for each action -->
                            <button type="button" ngbDropdownItem (click)="executeAction(data , actionItem.action)"
                                class="btn p-2 d-flex justify-content-start text-black align-items-center">
                                @if (actionItem.imageUrl) {
                                <img [src]="actionItem.imageUrl" alt="{{ actionItem.label }}" class="mx-2"
                                    style="width: 20px; height: 20px;">
                                } @else {
                                <i [class]="actionItem.icon + ' mx-2'"></i>
                                }
                                <small>{{ actionItem.label }}</small>
                            </button>
                            }
                            }
                        </div>
                    </div>
                    }
                </td>
                }
                @if (viewLog) {
                    <td class="table-cell text-center p-2">
                        <button 
                            type="button" 
                            class="btn btn-outline-warning action-button"
                            (click)="navigateToLog(data['id'], data)">
                            Enter
                        </button>
                    </td>
                    }
                    


                @if (isLog) {
                <td class="table-cell text-center p-2">
                    <button type="button" class="btn btn-outline-warning action-button"
                        (click)="navigateToLog(data[idName] , data)">
                        {{btnName}}
                    </button>
                </td>
                }

            </tr>
            }
        </tbody>
    </table>
</div>

<!-- Pagination Section -->
@if (!removePagination) {
<div class="table-pagination">
    <ngb-pagination [maxSize]="4" [collectionSize]="collectionSize" [pageSize]="pageSize" [(page)]="page"
        (pageChange)="nextPage()">
        <ng-template ngbPaginationPrevious>{{ 'PREV' }}</ng-template>
        <ng-template ngbPaginationNext>{{ 'NEXT' }}</ng-template>
    </ngb-pagination>

</div>
}