<div class="custom-container position-relative">
    <img src="/assets/images/webexBackground.png" class="position-absolute img-bg" alt="">


    <div class="text-end translation">
        <!-- <a (click)="translate()" class="btn"> <strong>{{'ARABIC'}}</strong> <i class="mx-2 bi bi-globe col-6"></i></a> -->
    </div>

    <div class="container">

        <div class="row mb-5 d-flex justify-content-center">
            <div class="card p-2">
                
                <form #RestForm="ngForm" AutoFormError (ngSubmit)="submitRest(RestForm)">

                    <div class="container">
                        
                        <div class="row d-flex justify-content-center my-3">
                            <img class="col-12 logo-img" src="/assets/images/logo.png" width="100px" alt="">
                        </div>


                        <div class="row">
                            <div class="col-12 text-center m-0 p-0">
                                <h5 class="text-white">{{'Reset Passowrd'}}</h5>
                            </div>

                            <div class="col-12">
                                <div class="form-group" [ngClass]="false ? 'text-end' : 'text-start'">
                                    <label for="Password" class="form-label my-2 text-white">{{"New Passowrd "}}</label>
                                    <input type="password" class="form-control  text-black" id="passcode" name="passcode"
                                        required [(ngModel)]="restPassword.newPassword" [ngClass]="false ? 'text-end' : 'text-start'"
                                        [placeholder]='"PASSWORD"'>

                                </div>
                            </div>


                            <div class="col-12">
                                <div class="form-group" [ngClass]="false ? 'text-end' : 'text-start'">
                                    <label for="Password" class="form-label my-2 text-white">{{"Confirm New Passowrd "}}</label>
                                    <input type="password" class="form-control  text-black" id="passcode" name="passcode"
                                        required [(ngModel)]="confirmPassword" (ngModelChange)="onPasswordChange($event)" [ngClass]="false ? 'text-end' : 'text-start'"
                                        [placeholder]='"PASSWORD"'>

                                </div>
                            </div>


                            <div class="col-12">
                                <span *ngIf="message" class="text-danger">{{ message }}</span>
                            </div>

                     

                            <div class="col-12 my-2 p-2">

                                <button class="system-button btn p-2 w-100 text-white" type="submit"
                                    [disabled]="RestForm.invalid || isLoading">
                                    <div *ngIf="isLoading" class="spinner-border text-primary" role="status">
                                        <span class="sr-only"></span>
                                    </div>
                                    <span class="form-label" *ngIf="!isLoading">{{'Rest Passowrd'}}</span>
                                </button>

                            </div>
                        </div>
                    </div>
                </form>

                
              
                
                
            </div>

        </div>
    </div>
</div>

