<div class="text-white my-2">
  {{ label ? label : 'ATTACHMENTS' }}
</div>

@if (viewInputField) {
  
<div class="file-upload-wrapper border bg-dark-primary text-white position-relative p-3">
  <input 
    appNoLeadingSpace 
    type="file" 
    id="file-upload" 
    class="file-upload-input" 
    hidden 
    (change)="onFileSelected($event)" 
    [multiple]="allowMultiple"
    [accept]="isImageOnly ? '.jpg, .jpeg, .png' : null"
    multiple 
    aria-label="Upload files"
  >

  <label for="file-upload" class="file-upload-label d-flex align-items-center justify-content-center">
    <span *ngIf="fileNames.length === 0" class="file-upload-text text-white p-3">
      Choose file...
    </span>
    <span *ngIf="fileNames.length > 0" class="file-upload-text text-white p-3">
      {{ fileNames.length }} file(s) selected
    </span>
  </label>

  <div class="position-absolute icon text-white">
    <i class="bi bi-paperclip"></i>
  </div>
</div>
}

<!-- Display selected files as cards -->
<div class="file-preview-container mt-1">
  @if (filesList.length) {
    @for (file of filesList; track $index) {
      <div class="file-card">
        <span class="file-name">{{ file.fileName }}</span>
        @if (viewInputField) {
          <button class="delete-btn" type="button" (click)="removeFile(file , $index)">
            <i class="bi bi-trash"></i>
          </button>
        }
        <button class="download-btn" type="button" (click)="downloadFile(file)">
          <i class="bi bi-cloud-arrow-down"></i>
        </button>
      </div>
    }
  }
</div>
