<div class="container min-vh-100 w-75 d-flex justify-content-center align-items-center bg-light ">
  <div class="col-12 col-md-6">
    <div class="bg-white rounded shadow p-4">
      <form #RestForm="ngForm" AutoFormError (ngSubmit)="submitRest(RestForm)">
        <div class="text-center mb-4">
          <h5 class="text-dark">{{'Reset Password'}}</h5>
        </div>

        <!-- New Password -->
        <div class="mb-3 position-relative">
          <label for="newPassword" class="form-label text-dark">{{"New Password"}}</label>
          <input 
            [type]="showPassword ? 'text' : 'password'" 
            class="form-control" 
            id="newPassword" 
            name="newPassword"
            required 
            [(ngModel)]="restPassword.newPassword" 
            placeholder="Password"
          >
          <i 
            class="fa"
            [ngClass]="showPassword ? 'fa-eye-slash' : 'fa-eye'"
            (click)="togglePassword()"
            style="position: absolute; right: 15px; top: 40px; cursor: pointer; color: rgba(0, 0, 0, 0.555);">
          </i>
        </div>

        <!-- Re-New Password -->
        <div class="mb-3 position-relative">
          <label for="confirmPassword" class="form-label text-dark">{{"Re-New Password"}}</label>
          <input 
            [type]="showPassword ? 'text' : 'password'" 
            class="form-control" 
            id="confirmPassword" 
            name="confirmPassword"
            required 
            (ngModelChange)="onPasswordChange($event)"
            [(ngModel)]="confirmPassword" 
            placeholder="Password"
          >
          <i 
            class="fa"
            [ngClass]="showPassword ? 'fa-eye-slash' : 'fa-eye'"
            (click)="togglePassword()"
            style="position: absolute; right: 15px; top: 40px; cursor: pointer; color: rgba(0, 0, 0, 0.555);">
          </i>
        </div>

        <!-- Error message -->
        <div *ngIf="message" class="text-danger text-center mb-2">{{ message }}</div>

        <!-- Submit Button -->
        <button 
          class="btn btn-primary w-100 py-2"
          type="submit"
          [disabled]="RestForm.invalid || isLoading">
          <div *ngIf="isLoading" class="spinner-border spinner-border-sm text-light" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
          <span *ngIf="!isLoading">{{'Password'}}</span>
        </button>
      </form>
    </div>
  </div>
</div>
