<app-table [tableData]="tableData" [collectionSize]="pagination.totalCount" [page]="pagination.pageNumber"
    [pageSize]="pagination.pageSize" [tableHeaderTitle]="tableHeaderTitle" [removeAddButton]="false"
    [viewUnsubmittedRequestButton]="false" [tableHeaderButton]="'Create new Employee'" [tableHeaders]="tableHeaders"
    [displayColumns]="displayColumns" [isViewOnly]="false" [actionItems]="actionItems"
    [viewUnsubmittedRequestButton]="false"
    [unsubmittedComponentRouting]="'/pages/assignment-managment/unsubmitted-assignment-requests'"
    (pageChangeEvent)="nextPage($event)" (addButtonEvent)="openModal(content , false , true , false)"
    (openFilterModalEvent)="openFilter(filter , true , false , false)">
</app-table>


<ng-template #content let-offcanvas>
    <div class="offcanvas-header">
        <h4 class="offcanvas-title text-white">Resource Info</h4>
        <button type="button" class="btn-close text-white" aria-label="Close"
            (click)="offcanvas.dismiss('Cross click')"></button>
    </div>
    <div class="offcanvas-body">
        <div class="container-fluid">
            <form #UsersForm="ngForm" AutoFormError (ngSubmit)="submitRequest(UsersForm)">

                <div class="col-12">
                    <label class="text-white required-label my-2" for="fullName">{{'Full Name'}}</label>
                    <input [name]="'firstName'" [(ngModel)]="User.fullName" required
                        class="border text-start text-black p-2 w-100" type="text">
                </div>

                <div class="col-12">
                    <label class="text-white required-label my-2" for="email">{{'Email'}}</label>
                    <input name="email" [(ngModel)]="User.email" required autocomplete="username"
                        class="border text-start text-black p-2 w-100" type="email">
                </div>
                @if(!isEdit){
                <div class="col-12">
                    <label class="text-white required-label my-2" for="fromCity">{{'Password'}}</label>
                    <input [name]="'password'" [(ngModel)]="User.password" required
                        autocomplete="new-password" class="border text-start text-black p-2 w-100 input-password"
                        type="text">
                </div>
                }@else {
                    <div class="col-12">
                        <label class="text-white required-label my-2" for="inActiveDate">{{'Inactive Date'}}</label>
                        @if (User.inActiveDate) {
                            <input name="inActiveDate" [(ngModel)]="User.inActiveDate" (ngModelChange)="User.inActiveDate = null"
                            autocomplete="off" class="border text-start text-black p-2 w-100"
                            type="text">
                        }@else {
                            <input name="inActiveDate" [(ngModel)]="User.inActiveDate" 
                            autocomplete="off" class="border text-start text-black p-2 w-100"
                            type="date">
                        }
    
                    </div>
                }

                <div class="col-12">
                    <label class="text-white required-label my-2" for="fromCity">{{'Roles'}}</label>
                    <ng-select name="roles" [placeholder]="'CHOOSE'" class="bg-dark-primary border text-primary"
                        [bindLabel]="'name'" [bindValue]="'name'" [items]="roles" [(ngModel)]="User.roles"
                        [multiple]="false">
                    </ng-select>
                </div>


                <div class="col-12">
                    <label class="text-white required-label my-2" for="fromCity">{{'Viewers'}}</label>
                    <ng-select [disabled]="isView" name="maxDeliveryDate" [placeholder]="'CHOOSE'"
                        class="bg-dark-primary border text-black" [(ngModel)]="selectedIds" [items]="users"
                        [bindLabel]="'fullName'" [bindValue]="'id'" [multiple]="true"
                        (ngModelChange)="onViewersChange($event)">
                    </ng-select>
                </div>
                
                <div class="col-12">
                    <label class="text-white required-label my-2" for="backLogDays">{{'BackLog Days'}}</label>
                    <input name="backLogDays" [(ngModel)]="User.backLogDay" 
                        class="border text-start text-black p-2 w-100" type="text" appRestrictNonNumeric>
                </div>

                <br>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" [value]="true" name="showHourlyCost" id="flexCheckDefault" [(ngModel)]="User.showHourlyCost">
                    <label class="form-check-label text-white" for="flexCheckDefault" >
                   Show Cost
                    </label>
                </div>


                <div class="col-12 d-flex justify-content-center mt-3">
                    <button class="system-button btn p-2 w-100 text-white" type="submit">
                        <span class="form-label">{{'Submit Request'}}</span>
                    </button>
                </div>
                
            </form>
        </div>
    </div>
</ng-template>

<ng-template #filter let-offcanvas>
    <div class="offcanvas-header">
        <h4 class="offcanvas-title text-white">Tasks</h4>
        <button type="button" class="btn-close text-white" aria-label="Close"
            (click)="offcanvas.dismiss('Cross click')"></button>
    </div>
    <div class="offcanvas-body">
        <div class="container-fluid">
            <form #tasksForm="ngForm" AutoFormError (ngSubmit)="getData() ; offcanvas.dismiss('Cross click')">


                <div class="col-12">
                    <label class="text-white required-label my-2" for="fromCity">{{'Search value'}}</label>
                    <input [disabled]="isView" name="'title'" [(ngModel)]="pagination.SearchValue" required
                        class="border text-start text-black p-2 w-100" type="text">
                </div>

                <div class="col-12 d-flex justify-content-center mt-3">
                    <button class="system-button btn p-2 w-100 text-white" type="submit">
                        <span class="form-label">{{'filter'}}</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</ng-template>

<ng-template #passwordTemplate let-offcanvas>
    <div class="offcanvas-header">
        <h4 class="offcanvas-title text-white">Change Password</h4>
        <button type="button" class="btn-close text-white" aria-label="Close"
            (click)="offcanvas.dismiss('Cross click')"></button>
    </div>
    <div class="offcanvas-body">
        <div class="container-fluid">
            <form #passwordForm="ngForm" AutoFormError (ngSubmit)="resetPassword(passwordForm)">
                <div class="col-12">
                    <label class="text-white required-label my-2" for="fromCity">{{'Password'}}</label>
                    <input appNoLeadingSpace id="password" name="password" [(ngModel)]="password.newPassword" required
                        class="form-control border text-start text-black p-2 w-100" type="password">
                    @if (showConfirmationError) {
                    <div class="col-12 mt-1 text-danger">
                        <small>Passwords do not match!</small>
                    </div>
                    }
                </div>
                <div class="col-12">
                    <label class="text-white required-label my-2" for="fromCity">{{'Confirm Password'}}</label>
                    <input name="'title'" [(ngModel)]="password.confirmPassword" required
                        (ngModelChange)="checkConfirmPassword()" class="border text-start text-black p-2 w-100"
                        type="password">
                    @if (showConfirmationError) {
                    <div class="col-12 mt-1 text-danger">
                        <small>Passwords do not match!</small>
                    </div>
                    }
                </div>

                <div class="col-12 d-flex justify-content-center mt-3">
                    <button class="system-button btn p-2 w-100 text-white" type="submit">
                        <span class="form-label">{{'Submit Request'}}</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</ng-template>