.badge{
    font-size: 15px;
    .green-badge{
        color: #16c588;
        border: 1px solid #16c588;
        border-radius: 50px;
        
    }
    .red-badge{
        color: #FA6666;
        border: 1px solid #FA6666;
        border-radius: 25px;
    }
    .orange-badge{
        color: #e2a601;
        border: 1px solid #e2a601;
        border-radius: 25px;
    }
    .blue-badge{
        color: #5597FE;
        border: 1px solid #5597FE;
        border-radius: 25px;
    }
    .gray-badge{
        color: #a0a0a0;
        border: 1px solid #a0a0a0;
        border-radius: 25px;
    
    }
}