// .custom-container {
//     // background-image: url('../../../assets/images/webexBackground.png');
//     height: 100vh;
//     width: 100%;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     background-size: cover;
//     background-repeat: no-repeat;

//     .img-bg {
//         height: 100vh;
//         width: 100%;
//     }

//     .logo-img {
//         width: 135px;
//     }

//     .translation{
//         z-index: 1;
//         position: absolute;
//         top: 35px;
//         right: 35px;
//         border: 1px solid black;
//         border-radius: 5px;
//     }

//     h5 {
//         font-size: 18px;
//     }

//     .row {
//         .card {
//             width: 40%;
//             border: none;
//             background: radial-gradient(circle, rgb(47 89 127 / 46%) 2%, rgb(33 83 115 / 68%) 79%, rgb(98 137 175 / 36%) 100%, rgb(255 255 255) 100%);           
//         }
//     }


// }

// .container {
//     .system-button {
//         background: linear-gradient(90deg, rgba(253,29,29,1) 0%, rgba(131,58,180,1) 100%);

//         border-radius: 10px;
//         border: none;
//         transition: background-color 0.3s; // Smooth transition for background color and hover effects

//         // Hover effect
//         &:hover {
//             background-color: #7CA2B4; // Darker shade on hover
//         }

//         // Disabled state
//         &:disabled {
//             background-color: #B0C4D1; // Lighter or different color indicating it's disabled
//             cursor: not-allowed; // Shows a 'not-allowed' cursor when hovered
//         }
//     }

// }

// input{
//     // background-color: #2A5275 !important;
//     border-color: black;
//     color: black;
//     font-size: 12px !important;
// }

// .form-label{
//     font-size: 14px;
// }

// h5{
//     font-size: 18px;
// }

// .form-control {
//     &::placeholder { // Targets the placeholder of .form-control inputs
//       color: white; // Your desired placeholder text color
//       opacity: .8; // Ensures the placeholder is fully opaque
//     }
// }

// .powered-by {
//     z-index: 1;
//     text-align: center;
//     font-size: 1rem;
//     font-style: italic;
//     color: rgba(255, 255, 255, 0.8); // Slightly faded white for a premium look
//     padding: 10px 0;
    
//     strong {
//         font-weight: 600; // Slightly bold
//         color: #f8f9fa; // Light grayish white for contrast
//     }

//     // Optional: Add a subtle underline effect on hover
//     &:hover {
//         text-decoration: underline;
//         color: #ffffff8a;
//         transition: 0.3s ease-in-out;
//         cursor: pointer;
//     }
// }

// .text-warning{
//     color: #ff0000 !important;
//   }

  .bg-card{
    box-shadow: 1px 1px 5px black;
    background-color: #ffffff62;
    color: #FFF;
    }

    .login-section {
        background: linear-gradient(to right, #7c7c7b, #0d0d0fcc);
    }

    .btn-color
    {
        background-color: #ff3c01f1;
        color: #FFF;
    }
    
    .btn:hover{
        background-color: #ff9101d7;
    }