<!-- <div class="custom-container position-relative">
    


    
    
    <div class="container">
        
        <img src="/assets/images/login_taskmanagment.png">
        <div class="row mb-5 d-flex justify-content-center">
            <div class="card p-2">
                <form #UsersForm="ngForm" AutoFormError (ngSubmit)="onSubmit(UsersForm)">
                    
                    <div class="container">
                        <div class="row d-flex justify-content-center my-3">
                            <img class="col-12 logo-img" src="/assets/images/new-logo.png" width="50px" alt="">
                        </div>

                        <div class="row">
                            <div class="col-12 text-center m-0 p-0">
                                <h3 class="text-white">{{'Login Page'}}</h3>
                            </div>

                            <div class="col-12">
                                <div class="form-group" [ngClass]="false ? 'text-end' : 'text-start'">
                                    <label for="lastName"
                                        class="form-label my-2 text-white">{{"Email"}}</label>
                                    <input type="text" class="form-control text-black" id="Email" name="Email"  pattern="[\w.-]+@[a-zA-Z\d-]+\.[a-zA-Z]{2,}"
                                        required [(ngModel)]="userLogin.email" [ngClass]="false ? 'text-end' : 'text-start'"
                                        [placeholder]='"MEETING_NUMBER"'>

                                </div>
                            </div>

                            <div class="col-12">
                                <div class="form-group" [ngClass]="false ? 'text-end' : 'text-start'">
                                    <label for="Password" class="form-label my-2 text-white">{{"Password"}}</label>
                                    <input type="password" class="form-control  text-black" id="passcode" name="passcode"
                                        required [(ngModel)]="userLogin.password" [ngClass]="false ? 'text-end' : 'text-start'"
                                        [placeholder]='"PASSWORD"'>

                                </div>
                            </div>

                            <div class="col-12 my-2 p-2">
                                <button class="system-button btn p-2 w-100 text-white" type="submit"
                                    [disabled]="UsersForm.invalid || isLoading">
                                    <div *ngIf="isLoading" class="spinner-border text-primary" role="status">
                                        <span class="sr-only"></span>
                                    </div>
                                    <span class="form-label" *ngIf="!isLoading">{{'Login'}}</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </form>

                
                <div class="d-flex justify-content-center ">
                    <a routerLink="/forget-password" class="text-white">Forget Password?</a>
                </div>
                
                
            </div>
<div class="row">
    <footer class="powered-by">
        <a href="https://macquires.net/" target="_blank" rel="noopener noreferrer">
            <img src="/assets/images/macquiresLogo.png" width="40px" alt="" class="mx-2">
            <em class="text-white">Powered by <strong>Macquires 2025</strong></em>
        </a>
    </footer>
</div>
        </div>
    </div>
</div> -->

<div class=" login-section" style="min-height: 100vh;">

    <div class="row justify-content-center align-items-center" style="min-height: 100vh;">
   
        <div class="col-md-6 col-12 mb-4 text-center  text-md-start">
<h5 class="text-white">Welcom To</h5>
<img src="/assets/images/new-logo.png" alt="Login Image" widht ="30px" class="w-25">
    <div>
    
    <img src="/assets/images/login_taskmanagment.png" alt="Login Image" class="img-fluid">
        </div> 
            
        </div>

        <div class="col-md-4 col-12" style="width:25%;">
            <div class="card p-4 bg-card">
                <h3 class="mb-4 text-center">Login</h3>

                <form #UsersForm="ngForm" AutoFormError (ngSubmit)="onSubmit(UsersForm)">
                    
                    <div class="form-group mb-4" [ngClass]="false ? 'text-end' : 'text-start'">
                        <label for="exampleInputEmail1">{{'Email'}}</label>
                        <input type="email" 
                        id="Email" 
                        name="Email"  
                        class="form-control" 
                        pattern="[\w.-]+@[a-zA-Z\d-]+\.[a-zA-Z]{2,}" 
                        aria-describedby="emailHelp" 
                        [(ngModel)]="userLogin.email"
                        required  
                        [ngClass]="false ? 'text-end' : 'text-start'"
                        placeholder="Enter email">
                    </div>


                  

                    <div class="form-group mb-4 position-relative" [ngClass]="false ? 'text-end' : 'text-start'">
                        <label for="Password">{{"Password"}}</label>
                        <input 
                            [type]="showPassword ? 'text' : 'password'" 
                            class="form-control" 
                            id="passcode"
                            name="passcode"
                            required 
                            [(ngModel)]="userLogin.password"
                            [ngClass]="false ? 'text-end' : 'text-start'"
                            placeholder="Password"
                        >
                        
                        <!-- Eye Icon -->
                        <i 
                            class="fa" 
                            [ngClass]="showPassword ? 'fa-eye-slash' : 'fa-eye'" 
                            (click)="togglePassword()" 
                            style="position: absolute; right: 15px; top: 38px; cursor: pointer; color:black;">
                        </i>
                    </div>
                    


                   
                   
                    <button 
                    class="btn-color btn p-2 w-100 text-white" type="submit"
                    [disabled]="UsersForm.invalid || isLoading">
                    <div *ngIf="isLoading" class="spinner-border text-primary" role="status">
                        <span class="sr-only"></span>
                    </div>
                    <span class="form-label" *ngIf="!isLoading">{{'Login'}}</span>
                     </button>
                </form>
            </div>
        </div>
        
    </div>

</div>
