<div class="row px-4">
    @for (setting of settings; track $index) {
        @if (setting.viewSetting) {
            <div class="col-lg-2 col-md-4 col-sm-6 col-12 m-3 p-3 d-flex justify-content-center setting-border">
                <a [routerLink]="setting.routerLink" class="text-center">
                    <span class="text-center">
                        <div class="position-relative">
                            <i class="bi bi-gear-wide"></i>
                            <img class="box-img" src="/assets/images/logo.png" alt="">
                        </div>
                        <h2>{{setting.name}}</h2>
                    </span>
                </a>
            </div>
        }
    }
</div>
