<app-table [tableData]="tableData" [collectionSize]="pagination.totalCount" [page]="pagination.pageNumber"
    [pageSize]="pagination.pageSize" [tableHeaderTitle]="tableHeaderTitle" [removeAddButton]="false"
    [viewUnsubmittedRequestButton]="false" [tableHeaderButton]="'Role'" [tableHeaders]="tableHeaders"
    [displayColumns]="displayColumns" [viewLog]="false" [isViewOnly]="false" [actionItems]="actionItems"
    [viewUnsubmittedRequestButton]="false"
    [unsubmittedComponentRouting]="'/pages/assignment-managment/unsubmitted-assignment-requests'"
    (pageChangeEvent)="nextPage($event)" (addButtonEvent)="openModal(content , false , true , false)"
    (openFilterModalEvent)="openModal(content , true , false , false)">
</app-table>


<ng-template #content let-offcanvas>
    <div class="offcanvas-header bg-header">
        <h4 class="offcanvas-title text-white">Roles</h4>
        <button type="button" class="btn-close text-white" aria-label="Close"
            (click)="offcanvas.dismiss('Cross click')"></button>
    </div>
    <div class="offcanvas-body bg-primary">
        <div class="container-fluid">
            <form #RolesForm="ngForm" AutoFormError (ngSubmit)="submitRequest(RolesForm)">

                <div class="col-12">
                    <label class="text-white required-label my-2" for="fromCity">{{'Role Name'}}</label>
                    <input [disabled]="isView" [name]="'name'" [(ngModel)]="role.name" required
                        class="border text-start text-black p-2 w-100" type="text">
                </div>

                <div class="col-12">
                    @for (permissionTitle of mainPermissions; track $index) {
                        <div class="border p-3 my-2">
                            <div class="row">
                                <div class="col-12">
                                    <h5 class="text-white required-label my-2 d-block">{{ permissionTitle }}</h5>
                                </div>
                            </div>
                            <div class="row">
                                @for (permission of permissionsList[permissionTitle]; track $index) {
                                    <div class="col-md-6 d-flex align-items-center">
                                        <input 
                                            type="checkbox" 
                                            class="form-check-input me-2" 
                                            id="checkbox{{ permissionTitle + '-' + permission }}" 
                                            [value]="permissionTitle + '|' + permission" 
                                            [checked]="role.permissions.includes(permissionTitle + '|' + permission)" 
                                            (change)="updatePermissions($event, permissionTitle + '|' + permission)"
                                        />
                                        <label for="checkbox{{ permissionTitle + '-' + permission }}" class="form-check-label text-white">{{ permission }}</label>
                                    </div>
                                }
                            </div>
                        </div>
                    }
                                      
                </div>
                


                @if(!isView){
                <div class="col-12 d-flex justify-content-center mt-3">
                    <button class="system-button btn p-2 w-100 text-white btn-primary btn-primary-hover" type="submit">
                        <span class="form-label">{{'Submit Request'}}</span>
                    </button>
                </div>
                }
            </form>
        </div>
    </div>
</ng-template>